<h4>Eliminar Permisos</h4>

<div class="card card-body mb-1">
    <h6>Usuario: {{itemDetail.usuario}}</h6>
    <h6>Nombre: {{itemDetail.nombre}}</h6>
    <h6>Cedula: {{itemDetail.cedtra}}</h6>
</div>

<form  >
    <div class="card card-body mb-1">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Permisos Actuales</th>
                    <th>Quitar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dt of data">
                    <td (click)="tipoPermisos(dt.estche)" style="cursor: pointer;">
                        {{dt.estche}}
                    </td>
                    <td>
                        <input type="checkbox" name="flexCheckDefault" (change)="onChange($event, dt.estche)" >
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-success" (click)="submit()">Enviar</button>
    </div>
</form> 