<h2>Soportes Solicitados</h2>

<div class="div1">
  <form [formGroup]="formGroup">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Documento Solicitado</th>

          <th scope="col">Subir Documento</th>
          <th scope="col">¿Obligatorio?</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dt of datoSoportes">
          <th scope="row">{{dt.codsop}}</th>
          <td>{{dt.detsop}}</td>
          <td>
            <angular-file-uploader id={{dt.codsop}} [resetUpload]=true
              (ApiResponse)="soporteUpload(dt.codsop,dt.per,$event,dt)" [config]="afuConfig">
            </angular-file-uploader>
          </td>
          <td>
            {{dt.per}}
          </td>
          <!-- <td><input accept=".pdf,.pptx,.docx" class="hidden" name="banner" type="file" id="banner"></td> -->
        </tr>
      </tbody>
    </table>
  </form>
  <div *ngIf="banderaPermisos==true">
    <button type="submit" class="btn btn-success" (click)="pasar()">Guardar</button>
    <br>
    <p><small>Importante: Una ves subido los soportes debe continuar con el pago</small></p>
  </div>
  <div *ngIf="datoSoportes.length != longSop">
    <p><small>Importante: Debe de subir todos los soportes obligatorios(S) para poder continuar</small></p>
  </div>
  <br>
  <br>
</div>