<div class="worko-tabs">

    <input class="state" type="radio" title="tab-one" name="tabs-state" id="tab-one" (click)="sop1()" checked />
    <input class="state" type="radio" title="tab-two" name="tabs-state" id="tab-two" (click)="sop2()" />

    <div class="tabs flex-tabs">
        <label for="tab-one" id="tab-one-label" class="tab">Detalles del Pago</label>
        <label for="tab-two" id="tab-two-label" class="tab">Soportes del Pago</label>

        <div id="tab-one-panel" *ngIf="banderasop">
            <form class="formato">
                <h2>Estado del Pago</h2>
                <br>
                <br>
                <form>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Consecutivo</th>
                                <th scope="col">Tipo de Pago</th>
                                <th scope="col">Detalle</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Numero de Factura</th>
                                <th scope="col">NIT</th>
                                <th scope="col">Valor</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Observación</th>

                            </tr>
                        </thead>
                        <tbody>


                            <tr *ngFor="let r of item1">
                                <td>{{item1[0].numero}}</td>
                                <td>{{item2.detclas}}</td>
                                <td>{{data.detalle}}</td>
                                <td>{{cambioEstadoNombre(r.estado)}}</td>
                                <td><a (click)="nombreUsuario(r.usuario)" style="cursor: pointer;">{{r.usuario}}</a>
                                </td>
                                <td>{{item1[0].numfac}}</td>
                                <td>
                                    <a (click)="getConta04(data.nit)" style="cursor: pointer;">{{data.nit}}
                                    </a>
                                </td>
                                <td>${{data.valor}}</td>
                                <td>{{r.fecha}}</td>
                                <td>{{r.observacion}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </form>

            <form class="formato2">

                <h2>Cambiar Estado del Pago</h2>
                <div>
                    <div class="form-check form-check-inline" *ngFor="let n of arraySalida">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1" (change)="cambioEstado(n)">
                        <label class="form-check-label" for="inlineRadio1"> {{n}} </label>
                    </div>
                </div>
                <br>
                <label for="exampleFormControlTextarea1">
                    <h5><b> Observación </b></h5>
                </label>
                
                <br>
                <p>¡Obligatorio para devoluciones!</p>
                <div class="form-group">
                    
                    <textarea style="margin-left: 5%; margin-right: 5%;" class="form-control" id="exampleFormControlTextarea1" (input)="evento($event)" rows="3" maxlength="299"></textarea>


                </div>
                <br>
                <button *ngIf="btn==true" type="button" class="btn btn-success" (click)="submit()">Enviar</button>
                <br>
                <br>

            </form>
        </div>
        <div id="tab-two-panel" *ngIf="!banderasop">



            <form class="formato2">
                <h3>Visualizar Soportes</h3>
                <div *ngFor="let so of soportes">
                    <div id="divPadre">
                        <div id="divHijo">
                            <button class="btn"><span>{{so.detsop}}</span><i class="icons">+</i>
                                <ul class="dropdown">
                                    <pdf-viewer [src]="global_url+'teso12/getDocumento/'+so.archivo" [rotation]="0"
                                        [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                        [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                                        [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                                        style="width: 100%; height: 300px;"></pdf-viewer>
                                </ul>
                            </button>
                        </div>
                    </div>
                    <br>
                    <br>

                    <!--  <h2>{{so.detsop}}</h2>
                    <div id="outerContainer">
                        <div class="pdf-container">
                            <pdf-viewer [src]="global_url+'teso12/getDocumento/'+so.archivo" [rotation]="0"
                                [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                                [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                                style="width: 100%; height: 600px;"></pdf-viewer>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
    </div>

</div>