<h2>Estado del Pago</h2>
<br>
<br>
<form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Tipo de Pago</th>
        <th scope="col">Estado</th>
        <th scope="col">Usuario</th>
        <th scope="col">Valor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of item1">
        <td>{{ item2.detclas }}</td>
        <td>{{ obtenerNombreEstado(r.estado) }}</td>
        <td><a (click)="nombreUsuario(r.usuario)" style="cursor: pointer;">{{ r.usuario }}</a></td>
        <td>${{ data.valor }}</td>
        <td>{{ r.fecha }}</td>
      </tr>
    </tbody>
  </table>
  
</form>