<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="card p-4 shadow mb-4" style="width: 700px;">
        <br>
        <h4 class="text-center mb-4">Parametrizar Notificaciones</h4>
        <b>Importante: </b> Para la notificación se debe de utilizar un paso anterior al de interes.
        <br>
        <br>
        <form #registerForm (ngSubmit)="onSubmit(registerForm)">
            <!-- Campo Usuario -->
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" id="nombre" class="form-control" (input)="input($event)"
                    placeholder="Buscar por documento..." name="nombre" #nombre="ngModel"
                    [(ngModel)]="notificacion.nombre"  [disabled]=bandera_actualizar>
                <div *ngFor="let dt of usuarios">
                    <div class="card card-body mb-1">
                        <h6>Documento: {{dt.cedtra}}</h6>
                        <h6>Nombre: {{dt.nombre}}</h6>
                        <h6>Usuario: {{dt.usuario}}</h6>
                        <div>
                            <button type="button" class="btn btn-success" (click)="agregar(dt)">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Campo Correo -->
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" id="correo" class="form-control" placeholder="Ingrese su correo" name="correo"
                    #correo="ngModel" [(ngModel)]="notificacion.correo">
            </div>
            <!-- Campo Pago -->
            <div class="mb-3">
                <label for="pago" class="form-label">Pago</label>
                <select class="form-select col" name="pago" [(ngModel)]="notificacion.pago" required>
                    <option *ngFor="let td of pagos" [value]="td.codclas">{{td.detclas}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="paso" class="form-label">Paso</label>
                <select class="form-control" name="paso" [(ngModel)]="notificacion.paso">
                    <option *ngFor="let dt of data_teso20" [value]="dt.id">{{dt.proceso}}</option>
                </select>
            </div>
            <!-- Botón Guardar -->
            <button *ngIf="!bandera_actualizar" type="submit" class="btn btn-primary w-100">Guardar</button>

        </form>
        <button *ngIf="bandera_actualizar" (click)="editar_data()" class="btn btn-warning w-100">Editar</button>
    </div>

    <!-- Tabla -->
    <div class="card p-4 shadow" style="width: 800px;">
        <h4 class="text-center mb-4">Tabla de Datos</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Pago</th>
                    <th>Paso</th>
                    <th>Correo</th>
                    <th>Usuario</th>
                    <th>Creado por</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data_notificacion">
                    <td>{{item.detalle_pago}}</td>
                    <td>{{item.detalle_paso}}</td>
                    <td>{{item.correo}}</td>
                    <td>{{item.detalle_usuario}}</td>
                    <td>{{item.usuario}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="editar(item)">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="eliminar(item)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>