<div class="d-flex justify-content-center align-items-center vh-100 flex-column">
    <div class="card p-4 shadow mb-4" style="width: 700px;">
        <h4 class="text-center mb-4">Parametrizar Notificaciones</h4>
        <form #registerForm (ngSubmit)="onSubmit(registerForm)">
            <!-- Campo Usuario -->
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" id="nombre" class="form-control" (input)="input($event)"
                    placeholder="Buscar por documento..." name="nombre" #nombre="ngModel"
                    [(ngModel)]="notificacion.nombre">
                <div *ngFor="let dt of usuarios">
                    <div class="card card-body mb-1">
                        <h6>Documento: {{dt.cedtra}}</h6>
                        <h6>Nombre: {{dt.nombre}}</h6>
                        <h6>Usuario: {{dt.usuario}}</h6>
                        <div>
                            <button type="button" class="btn btn-success" (click)="agregar(dt)">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Campo Correo -->
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" id="correo" class="form-control" placeholder="Ingrese su correo" name="correo"
                    #correo="ngModel" [(ngModel)]="notificacion.correo">
            </div>
            <!-- Campo Pago -->
            <div class="mb-3">
                <label for="pago" class="form-label">Pago</label>
                <select class="form-select col" id="inputGroupSelect01" name="pago" placeholder="pago" for="pago"
                    #pago="ngModel" [(ngModel)]="notificacion.pago" required>
                    <option *ngFor="let td of pagos" value={{td.codclas}}>{{td.detclas}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="paso" class="form-label">Paso</label>
                <select class="form-control" id="exampleFormControlSelect1" name="pago" placeholder="paso" for="paso"
                    #paso="ngModel" [(ngModel)]="notificacion.paso">
                    <option selected>Seleccione!</option>
                    <option *ngFor="let dt of data_teso20" [value]="dt.id">{{dt.proceso}}</option>
                </select>
            </div>
            <!-- Botón Guardar -->
            <button type="submit" class="btn btn-primary w-100">Guardar</button>
        </form>
    </div>

    <!-- Tabla -->
    <div class="card p-4 shadow" style="width: 700px;">
        <h4 class="text-center mb-4">Tabla de Datos</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Campo 1</th>
                    <th>Campo 2</th>
                    <th>Campo 3</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
               <!--  <tr *ngFor="let item of tablaDatos">
                    <td>{{item.campo1}}</td>
                    <td>{{item.campo2}}</td>
                    <td>{{item.campo3}}</td>
                    <td>
                        <button class="btn btn-warning btn-sm" (click)="editar(item)">Editar</button>
                        <button class="btn btn-danger btn-sm" (click)="eliminar(item)">Eliminar</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>
