<!-- <table class="tg" style="table-layout: fixed; width: 1113px" id="myData" #myData *ngIf="data != null">
  <colgroup>
    <col style="width: 20px">
    <col style="width: 83px">
    <col style="width: 73px">
    <col style="width: 69px">
    <col style="width: 176px">
    <col style="width: 235px">
    <col style="width: 154px">
    <col style="width: 283px">
    <col style="width: 20px">
  </colgroup>
  <thead>
    <tr>
      <th class="tg-0pky" rowspan="19"></th>
      <th class="tg-c3ow" colspan="2"><br><br><img src="../../assets/logo_final.png" alt="Image" width="100"
          height="100"></th>
      <th class="tg-c3ow" colspan="4"><br><br><span style="font-weight:bold">CAJA DE COMPENSACIÓN FAMILIAR
          DE NARIÑO</span><br><br><span style="font-weight:bold">SISTEMA DE GESTIÓN</span><br><br><span
          style="font-weight:bold">FORMATO PARA REQUISITOS PAGO DE CUENTA INDIVIDUAL</span></th>
      <th class="tg-c3ow"><br><span style="font-weight:bold"> <ngx-barcode [bc-value]="data.codclas+data.numero"
            [bc-display-value]="true"></ngx-barcode>
        </span></th>
      <th class="tg-0pky" rowspan="19"></th>
    </tr>
    <tr>
      <th class="tg-0pky" colspan="7"></th>
    </tr>
    <tr>
      <th class="tg-fymr" colspan="3">FECHA DE DILIGENCIAMIENTO</th>
      <th class="tg-fymr" colspan="3">No DE FACTURA / NOTA DE CONTABILIDAD A PAGAR:</th>
      <th class="tg-fymr">Nº de Contrato</th>
    </tr>
    <tr>
      <th class="tg-fymr">AÑO</th>
      <th class="tg-fymr">MES</th>
      <th class="tg-fymr">DIA</th>
      <th class="tg-0pky" colspan="3" rowspan="2"> {{data.numfac}}</th>
      <th class="tg-0pky" rowspan="2"></th>
    </tr>
    <tr>
      <th class="tg-0pky" colspan="3">{{data.fecrad}}</th>
    </tr>
    <tr>
      <th class="tg-7btt" colspan="5">NOMBRE DE EMPRESA /PERSONA A QUIEN SE PAGA:</th>
      <th class="tg-7btt" colspan="2">NIT O CEDULA DE CIUDADANIA</th>
    </tr>
    <tr>
      <th class="tg-0pky" colspan="5">{{nit}}</th>
      <th class="tg-0pky" colspan="2">{{data.nit}}</th>
    </tr>
    <tr>
      <th class="tg-c3ow" colspan="3"><span style="font-weight:bold">CLASE DE PAGO</span></th>
      <th class="tg-0pky" colspan="2">{{data.codclas}} - {{detalle}}</th>
      <th class="tg-c3ow"><span style="font-weight:bold">VALOR</span></th>
      <th class="tg-0pky">$ {{data.valor}}</th>
    </tr>
    <tr>
      <th class="tg-7btt" colspan="3">CENTRO DE COSTO</th>
      <th class="tg-c3ow" colspan="2">{{data.codcen}} - {{cc}}</th>
      <th class="tg-7btt" rowspan="2"><br>DEPENDENCIA</th>
      <th class="tg-7btt" rowspan="2">{{data.coddep}} - {{depe}}</th>
    </tr>
    <tr>
      <th class="tg-c3ow" colspan="3"><span style="font-weight:bold">CDP</span></th>
      <th class="tg-0pky" colspan="2">

        <div *ngIf="cdp_documento=='00'; then inBlock  else block"></div>
        <ng-template #inBlock>
          SIN CDP
        </ng-template>
        <ng-template #block>
          {{cdp_marca}}-{{cdp_documento}}-{{cdp_ano}}
        </ng-template>
      </th>
    </tr>
    <tr>
      <th class="tg-c3ow"><span style="font-weight:bold">DETALLE</span></th>
      <th class="tg-0pky" colspan="6">{{data.detalle}}</th>
    </tr>
    <tr>
      <th class="tg-7btt" colspan="7">DOCUMENTO ADJUNTO</th>
    </tr>
    <tr>

      <th class="tg-0pky" colspan="7">
        <div *ngFor="let sopo of soportes">
          {{sopo}}
        </div>
      </th>

    </tr>
    <tr>
      <th class="tg-7btt" colspan="4">RADICADO /LIQUIDADO POR</th>
      <th class="tg-7btt" colspan="2">Radicado/Liquidado por</th>
      <th class="tg-0pky"><span style="font-weight:bold">Autorizado por</span></th>
    </tr>
    <tr>
      <th class="tg-fymr" colspan="4">Nombre: {{identity1}}</th>
      <th class="tg-fymr" colspan="2">Nombre: {{data.perrev}}</th>
      <th class="tg-fymr">Nombre {{data.peraut}}</th>
    </tr>
    <tr>
      <th class="tg-fymr" colspan="4">Cargo</th>
      <th class="tg-fymr" colspan="2">Cargo</th>
      <th class="tg-fymr">Cargo</th>
    </tr>
    <tr>
      <th class="tg-fymr" colspan="4">Fecha: {{data.fecrad}}</th>
      <th class="tg-fymr" colspan="2">Fecha</th>
      <th class="tg-fymr">Fecha</th>
    </tr>
    <tr>
      <th class="tg-fymr" colspan="4">Firma:</th>
      <th class="tg-fymr" colspan="2">Firma</th>
      <th class="tg-fymr">Firma</th>
    </tr>
    <tr>
      <th class="tg-0pky" colspan="7"><span style="font-weight:bold;text-decoration:underline">IMPORTANTE:</span><span
          style="font-weight:bold">ESTE FORMATO NO PODRÁ SER MODIFICADO, EN LO REFERENTE A REQUISITOS Y A SU FORMA SIN
          PREVIA AUTORIZACIÓN DE LA COORDINACIÓN DE TESORERÍA Y LA LEGALIZACIÓN DEL CAMBIO ANTE LA COORDINACIÓN DE
          DESARROLLO ORGANIZACIONAL.</span>
          <hr>
          <p class="parrafo">Causado por: {{data.causador}}</p>
        </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td class="tg-0pky"></td>
      <td class="tg-0pky" colspan="7"></td>
      <td class="tg-0pky"></td>
    </tr>
  </tbody>
</table>


<button (click)="descargarPDF()">GENERAR</button> -->