div {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

h2 {
  text-align: center;
}

button {
  width: 80px;
  height: 29px;
}


.factura {
  table-layout: fixed;
}

.fact-info>div>h5 {
  font-weight: bold;
}

.factura>thead {
  border-top: solid 3px #000;
  border-bottom: 3px solid #000;
}

.factura>thead>tr>th:nth-child(2),
.factura>tbod>tr>td:nth-child(2) {
  width: 300px;
}

.factura>thead>tr>th:nth-child(n+3) {
  text-align: right;
}

.factura>tbody>tr>td:nth-child(n+3) {
  text-align: right;
}

.factura>tfoot>tr>th,
.factura>tfoot>tr>th:nth-child(n+3) {
  font-size: 24px;
  text-align: right;
}

.cond {
  border-top: solid 2px #000;
}