h1{
    text-align: center;
}
body {
    position: relative;
  }
div{
    text-align: center;
}
img{
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-3 {
    margin-left:5%;
    }
/*Remove that CSS*/


