<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-3">Reportes</h2>
            <hr class="mb-4">
            <div class="row justify-content-center">
                <div class="col-md-10 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <div class="card card-outline-secondary">
                        <form #registerForm="ngForm" (ngSubmit)="registerReportes(registerForm)">
                            <div class="card-header">
                                <h3 class="mb-0">Ingrese la información requerida</h3>
                            </div>

                            <div class="card-body">

                                <div class="row mt-4">
                                    <div class="float-right">
                                        <div class="row mt-12">
                                            <div class="col-sm-6 pb-3">
                                                <label for="exampleAccount"><b>Tipo de Pago</b></label>
                                                <select class="form-control" name="codclas" #codclas="ngModel"
                                                    [(ngModel)]="reporte.codclas">
                                                    <option value="" selected>SELECCIONE</option>
                                                    <option *ngFor="let dt of teso10" value={{dt.codclas}}>
                                                        {{dt.detclas}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6 pb-3">
                                                <label for="exampleAccount"><b>Numero</b></label>
                                                <input type="text" class="form-control" id="exampleAccount"
                                                    placeholder="Documento" name="numero" #numero="ngModel"
                                                    maxlength="7" [(ngModel)]="reporte.numero" id="numero">
                                            </div>
                                            <div class="col-sm-6 pb-3">
                                                <label for="exampleAccount"><b>Fecha Inicial</b></label>
                                                <input type="date" class="form-control" id="exampleAccount"
                                                    placeholder="Fecha Inicial" name="fechaini" #fechaini="ngModel"
                                                    [(ngModel)]="reporte.fechaini" id="fechaini" required>
                                                <small *ngIf="!fechaini.valid && fechaini.touched"
                                                    class="invalid-feedback d-block">
                                                    El campo no es valido!
                                                </small>
                                            </div>
                                            <div class="col-sm-6 pb-3">
                                                <label for="exampleAccount"><b>Fecha Final</b></label>
                                                <input type="date" class="form-control" id="exampleAccount"
                                                    placeholder="Fecha Final" name="fechafin" #fechafin="ngModel"
                                                    [(ngModel)]="reporte.fechafin" id="fechafin" required>
                                                <small *ngIf="!fechafin.valid && fechafin.touched"
                                                    class="invalid-feedback d-block">
                                                    El campo no es valido!
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" [disabled]="registerForm.invalid"
                                    class="btn btn-success">Reporte</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>