<h2>Desvincular Pagos y Soportes</h2>

<form class="col-md-5 ml-0 pl-0">
    <div class="form-group col-md-12">
        <div class="row">
            <label for="name">
                <h6>Codigo del Tipo Pago</h6>
            </label>
            <input type="text" placeholder="Buscar Tipo de pago" (input)="getTPagos($event)" required><!-- numero -->
        </div>
    </div>
</form>
<div *ngFor="let result of data" (click)="getDetailPage(result)" style="cursor: pointer;">
    <div class = "card card-body mb-1">
        <h6>Pago: {{result.detclas}}.</h6>
        <small class="text-primary">estado: {{result.estado}}.</small>
    </div>
</div>
<div>
    <table class="table" id="tablaT10">
        <thead>
          <tr>
            <th scope="col">Codclas</th>
            <th scope="col">Detalle</th>
            <th scope="col">Estado</th>
            <th scope="col">Numero Soportes asociados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dt of identity">
            <th scope="row">{{dt.codclas}}</th>
            <td>{{dt.detclas}}</td>
            <td>{{dt.estado}}</td>
            <td>{{dt.numero}}</td>
          </tr>
        </tbody>
      </table>
</div>